<div class="loader-container">
  <svg
    width="90px"
    height="90px"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid meet"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g id="logoH">
      <path
        d="M50 12 
           C52 12 53 12.5 54 13.2 
           L73 26 
           C74.5 26.8 75 27.5 75 28.5 
           L75 51.5 
           C75 52.5 74.5 53.2 73 54 
           L54 66.8 
           C53 67.5 52 68 50 68 
           C48 68 47 67.5 46 66.8 
           L27 54 
           C25.5 53.2 25 52.5 25 51.5 
           L25 28.5 
           C25 27.5 25.5 26.8 27 26 
           L46 13.2 
           C47 12.5 48 12 50 12 Z"
        stroke="var(--theme-color)"
        stroke-width="2.5"
        fill="var(--background-color)"
        stroke-linejoin="round"
        stroke-linecap="round"
      />
    </g>
     
    <g id="logoP" fill="var(--theme-color)">
      <path d="M45 31 
               L45 55 
               M45 31 
               L57 31 
               C59 31 59 34 59 34.5 
               C59 35 59 42 57 42 
               L45 42"
            stroke="var(--theme-color)" 
            stroke-width="5" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            fill="none" />
    </g>
  </svg>
</div>
