<div class="social-icons">
  <ul class="social-icons-list">
    <li class="social-icons-list-item">
      <a href="https://github.com/parvez-144" target="_blank" rel="noopener noreferrer" class="social-icons-list-item-link" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="social-icons-list-item">
      <a href="https://www.linkedin.com/in/parvez-raza-siddiqui-a3222720b/" target="_blank" rel="noopener noreferrer" class="social-icons-list-item-link" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
    <li class="social-icons-list-item">
      <a href="https://leetcode.com/u/parvez_7825/" target="_blank" rel="noopener noreferrer" class="social-icons-list-item-link" aria-label="LeetCode">
        <i class="fas fa-code"></i>
      </a>
    </li>
  </ul>
</div>
