:host {
  display: block;
  --lightest-slate: #ccd6f6;
  --theme-color: #69147a;
  --lightest-navy: #233554;
  --light-navy: #112240;
  --light-slate: #a8b2d1;
  --tx2large: 32px;
  --txlarge: 28px;
  --tlarge2: 20px;
}
.experience {
  margin: 15rem auto;
  max-width: 900px;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeSlideIn 0.6s ease-out forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  color: var(--lightest-slate);
  position: relative;
}

.title h2 {
  margin-bottom: 2rem;
  font-size: var(--tx2large);
  font-weight: 700;
}

.title h2::before {
  content: "02.";
  margin-right: 0.5rem;
  color: var(--theme-color);
}

.title h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  width: 300px;
  background-color: var(--lightest-slate);
  height: 2px;
  margin-left: 380px;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
  gap: 1rem;
}

.exp-slider {
  list-style: none;
  position: relative;
  height: max-content;
}

.exp-slider .underline {
  position: absolute;
  left: -0.5px;
  top: 0;
  width: 3px;
  height: 4.5rem;
  background-color: var(--theme-color);
  transition: top 0.3s ease-in-out; 
}

.exp-slider-item {
  height: 3.5rem;
  font-size: 5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.exp-slider-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--slate);
  font-size: 1.5rem;
}

.exp-slider-item:hover {
  background-color: var(--light-navy);
}

.exp-slider-item:hover span {
  color: var(--theme-color);
}

.exp-slider-item-selected span {
  color: var(--theme-color);
}

.exp-details {
  height: 40vh;
}

.exp-details-position {
  color: var(--lightest-slate);
}

.exp-details-position-company {
  color: var(--theme-color);
}

.exp-details-range {
  color: var(--light-slate);
}

.exp-details-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
  padding-left: 20px;
}

.exp-details-list-item {
  position: relative;
  font-weight: 500;
  color: var(--slate);
}

.exp-details-list-item::before {
  content: "▹";
  position: absolute;
  left: -20px;
  color: var(--theme-color);
  top: 6px;
  line-height: 12px;
}

@media screen and (max-width: 968px) {
  .title h2::after {
    width: 100px;
  }
}

@media screen and (max-width: 600px) {
  .experience {
    margin: 5rem auto;
  }
  .container {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .exp-details {
    height: max-content;
  }
  .exp-slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .exp-slider::-webkit-scrollbar {
    height: 2px;
    width: 5px;
  }
  .exp-slider::-webkit-scrollbar-track {
    background-color: var(--background-color);
  }
  .exp-slider::-webkit-scrollbar-thumb {
    background-color: var(--theme-color);
  }
  .exp-slider::before {
    display: none;
  }
  .exp-slider .underline {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .title h2::after {
    display: none;
  }
}