
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-slide-in {
  animation: fadeSlideIn 0.6s ease-out;
}


.about {
  margin: 15rem 0;
}
.about .title {
  color: var(--lightest-slate);
  position: relative;
}
.about .title h2 {
  margin-bottom: 2rem;
  font-size: var(--tx2large);
  font-weight: 700;
}
.about .title h2::before {
  content: "01.";
  margin-right: 0.5rem;
  color: var(--theme-color);
}
.about .title h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  width: 300px;
  background-color: var(--lightest-slate);
  height: 2px;
  margin-left: 220px;
}
.about-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 1rem;
}
.about-grid-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about-grid-info-text {
  color: var(--slate);
  margin-right: 10%;
  font-size: var(--tlarge);
  letter-spacing: 0.07rem;
  line-height: 1.6rem;
  font-weight: 500;
}
.about-grid-info-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0 3rem;
}
.about-grid-info-list-item {
  line-height: 1.7rem;
  font-weight: 500;
  font-size: var(--tbase);
  color: var(--slate);
  position: relative;
}
.about-grid-info-list-item::before {
  content: "▹";
  position: absolute;
  left: -20px;
  color: var(--theme-color);
  top: 6px;
  line-height: 12px;
}
.about-grid-photo {
  position: relative;
  width: max-content;
  height: max-content;
}
.about-grid-photo:hover .overlay {
  background-color: #00000000;
}
.about-grid-photo:hover .overlay-border {
  background-color: var(--theme-color);
  top: 0.5rem;
  left: 0.5rem;
}
.about-grid-photo:hover img {
  filter: none;
}
.about-grid-photo .overlay {
  z-index: 1;
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: #9d00ff4d;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
}
.about-grid-photo .overlay-border {
  z-index: -3;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 0.25rem;
  border: 2px solid var(--theme-color);
  top: 1rem;
  left: 1rem;
  transition: 0.3s ease-in-out;
}
.about-grid-photo-container {
 position: relative;
  object-fit: contain; /* or 'contain' */
  overflow: hidden;
  height: 350px;
  width: 350px;
}
.about-grid-photo-container img {
  z-index: 0;
  filter: grayscale(100%);
  transition: 0.3s ease-in-out;
  border-radius: 0.2rem;
  object-fit: contain; 
}
@media screen and (max-width: 1080px) {
  .about {
    margin: 5rem 0;
  }
  .about-grid {
    grid-template-columns: 60% 40%;
  }
  .about-grid-photo .overlay {
    height: 223px;
    width: 223px;
  }
  .about-grid-photo-container {
    height: 223px;
    width: 223px;
  }
  .about-grid-info-list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 768px) {
  .about {
    margin: 5rem auto;
  }
  .about .title h2::after {
    width: 200px;
  }
  .about-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-grid-photo {
    margin-top: 3rem;
  }
  .about-grid-photo .overlay {
    height: 300px;
    width: 300px;
  }
  .about-grid-photo-container {
    height: 300px;
    width: 300px;
  }
  .about-grid-info-text {
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .about .title h2::after {
    width: 100px;
  }
  .about-grid-photo .overlay {
    height: 223px;
    width: 223px;
  }
  .about-grid-photo-container {
    height: 223px;
    width: 223px;
  }
}