/* Navigation Base Styles */
nav {
  min-height: 60px;
}

.wrapper {
  padding: 0 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: 0.3s ease-in-out;
}

.brand a {
  display: flex;
  cursor: pointer;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
  fill: none;
  height: 3rem;
  width: 3rem;
  color: var(--theme-color);
  transition: 0.3s ease-in-out;
  outline: 2px dashed transparent;
}

.brand a:hover,
.brand a:focus {
  fill: #64dad91a;
}

.brand a:focus {
  outline-color: var(--theme-color);
}

.nav-responsive-toggle {
  display: none;
  color: var(--theme-color);
  font-size: var(--tlarge);
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  z-index: 5;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 3rem;
  color: var(--lightest-slate);
  font-size: var(--tsm1);
  font-family: var(--fira-code);
  counter-reset: nav-list;
}

.nav-items-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items-list-item a {
  color: inherit;
  text-decoration: none;
  font-size: large;
  padding: 10px;
  transition: 0.3s ease-in-out;
  outline: 2px dashed transparent;
}

.nav-items-list-item a::before {
  counter-increment: nav-list;
  content: "0" counter(nav-list) ". ";
  color: var(--theme-color);
}

.nav-items-list-item a:focus {
  outline-color: var(--theme-color);
}

.nav-items-list-item:hover {
  color: var(--theme-color);
}

.blur-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: fit-content;
  transition: 0.3s ease-in-out;
  z-index: 10;
  background-color: rgba(10, 25, 47, 0.85);
  box-shadow: 0 19px 30px -10px var(--navy-shadow);
  backdrop-filter: blur(10px);
}

.blur {
  backdrop-filter: blur(8px);
  z-index: -10;
}

/* Tablet & Mobile Styles */
@media screen and (max-width: 1020px) {
  .wrapper {
    padding: 0 2rem;
  }
  .nav-responsive-toggle {
    display: flex;
    z-index: 15;
  }
  .nav-items {
    position: fixed;
    height: 100vh;
    backdrop-filter: blur(8px);
    right: 0;
    width: 0;
    opacity: 0;
    top: 0;
    visibility: hidden;
    padding: 50px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-navy);
    transition: 0.3s ease-in-out;
    z-index: 11;
  }
  .nav-items-list {
    flex-direction: column;
  }
  .nav-responsive {
    width: min(75vw, 400px);
    visibility: visible;
    opacity: 1;
  }
}